html{
  background-size: 1500px;
  background-image: url("https://img.freepik.com/free-vector/digital-technology-background-with-hexagon-pattern-white-tone_53876-117566.jpg?w=2000");
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
h1{
    font:40px Lato;
    color:black;
    text-align:center;
}
h2{
  font: 20px Monospace;
  text-align: center;
  border:2px solid black;
}
h3{
  font: 16px Monospace;
  text-align:center;
  border:2px solid;
  width: 60%;  
  box-shadow: 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
}



